# Исключаем системные файлы
.DS_Store
Thumbs.db

# Исключаем IDE-конфигурации (например, IntelliJ IDEA)
.idea/
*.iml

# Исключаем билд-артефакты и зависимости Maven
target/
*.log

# Исключаем данные ОС
.vscode/
